{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}Voce esta prestes a
     lo       fazegin usando sua conta {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
    <div id="a">
        <div id="a1">
            {% element h1 %}
                {% blocktrans with provider.name as provider %}Entrada via <span>{{ provider }}</span>{% endblocktrans %}
            {% endelement %}

            <p>
                {% blocktrans with provider.name as provider %}
                Voce gostaria de entrar em nosso site utilizando sua conta <span>{{ provider }}</span>?
                {%endblocktrans %}
            </p>
            {% endif %}
            <div id="a1_5">
                {% element form method="post" no_visible_fields=True %}
                {% slot actions %}
                {% csrf_token %}
                {% element button type="submit" %}
                {% trans "Continuar" %}
                {% endelement %}
                {% endslot %}
                {% endelement %}
            </div>
        </div>
        <div id="a2">
            <img src="{% static "assets/img/cat_confuse1.jpg" %}" alt="">
            <img src="{% static "assets/img/pilhaLivro.png" %}" alt="">
        </div>
    </div>
{% endblock content %}
