asgiref==3.7.2
black==24.2.0
click==8.1.7
Django==5.0.2
django-jazzmin==2.6.0
gunicorn==22.0.0
isort==5.13.2
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
sqlparse==0.5.0
whitenoise==6.6.0
