asgiref==3.8.1
black==24.4.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
defusedxml==0.7.1
Django==5.0.11
django-allauth==0.61.0
django-jazzmin==3.0.0
gunicorn==22.0.0
idna==3.7
isort==5.13.2
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
psutil==5.9.8
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python-dotenv==1.0.1
python3-openid==3.2.0
redis==5.0.6
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.0
taskipy==1.12.2
tomli==2.0.1
urllib3==2.2.2
whitenoise==6.6.0
