{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="  {% static "assets/css/body.css" %} " />
    <link rel="stylesheet" href="  {% static "assets/css/card.css" %} " />
    <link rel="stylesheet" href="  {% static "assets/css/color.css" %} " />
    <link rel="stylesheet" href="  {% static "assets/css/config.css" %} " />
    <link rel="stylesheet" href="  {% static "assets/css/header.css" %} " />
    <link rel="stylesheet" href="  {% static "assets/css/imports.css" %} ">
    <link rel="stylesheet" href="  {% static "assets/css/nav.css" %} ">
    <link rel="stylesheet" href="  {% static "assets/css/newBook.css" %} ">
    <link rel="stylesheet" href="  {% static "assets/css/themetest.css" %} ">

    <linkrel="shortcut icon" href="static/img/book-bookmark-icon_34486.ico"
    type="image/x-icon"/>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

{% if request.path == "/login/" %}
    <link rel="stylesheet" href=" {% static "assets/css/login.css" %} ">
{% endif %}
