{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="{% static "assets/img/book-bookmark-icon_34486.ico" %}" type="image/x-icon"/>
<link rel="stylesheet" href=" {% static "assets/css/color.css" %} " />
{% if request.path == "/user/sign-in/" or request.path == "/user/sign-up/" %}
<link rel="stylesheet" href=" {% static "assets/css/login.css" %} ">
{% else %}

{% if request.path == "/" %}
<link rel="stylesheet" href=" {% static "assets/css/ladinPage.css" %} ">
{% else %}
<link rel="stylesheet" href=" {% static "assets/css/body.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/card.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/config.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/delete.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/e404.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/header.css" %} " />
<link rel="stylesheet" href=" {% static "assets/css/imports.css" %} ">
<link rel="stylesheet" href=" {% static "assets/css/nav.css" %} ">
<link rel="stylesheet" href=" {% static "assets/css/loginGoogle.css" %} ">
<link rel="stylesheet" href=" {% static "assets/css/newBook.css" %} ">
<link rel="stylesheet" href=" {% static "assets/css/bookPage.css" %} "> 
{% endif %}
{% endif %}

{% if request.path == "/password_reset/" %}
<link rel="stylesheet" href=" {% static "assets/css/password.css" %} ">
{% endif %}