[data-color="pink"]{
    --color-main: rgb(255, 59, 163);
    --color-main-hover: rgb(216, 18, 124);
}
[data-color="blue"]{
    --color-main: #0ebbff;
    --color-main-hover: #2a85af;
}


[data-theme="dark"]{
    --color-bg: #0e1120;
    --color-card: #2d3242;
    --color-subCard:#474e66;
    --color-fg: #fff;
    --color-fg-hover: #e7e7e7;

    --color-btn: #4F4DE5;
    --color-btn-hover: #6260dd;
    --color-fg-alt: rgb(93, 176, 214);
    --color-border: #666666;
}
[data-theme="light"]{
    --color-bg: #f6f6f6;
    --color-card: #fff;
    --color-subCard:#f0f0f0;
    --color-fg: #000;
    --color-fg-hover: #292929;

    --color-btn: #4F4DE5;
    --color-btn-hover: #6260dd;
    --color-fg-alt: rgb(93, 176, 214);
    --color-border: #b8b8b8;
}

.read{
    color: #53ff43;
}
.nonRead{
    color: #ff8635;
}
