@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    --ff-primary: "Sarala", Helvetica, Arial, sans-serif;

    --clr-green-dark: #049A40;
    --clr-green-light:#0BF96A;
    --clr-pink-dark:  #E10BF9;
    --clr-pink-light: #F3A0FD;
    --clr-white:      #F5F5F5;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html {
	scroll-behavior: smooth;
}

body {
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
}

#xd{
    color: white;



}

hr {
    border: none;
    background-color: var(--clr-pink-dark);
    height: 2px;
    width: 140px;
    margin: 20px auto;
}

p {
    line-height: 21.82px;
    padding: 0 10px;
}

.section__titulo {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
}

/**********************************/
/* 2. Menu
/**********************************/

.menu-bg {
    background-color: var(--clr-green-light);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.menu__logo {
    margin: 10px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    padding: 20px 10px;
}

/**********************************/
/* 3. Header
/**********************************/

.intro {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
}

/**********************************/
/* 4. Quem somos
/**********************************/

.somos {
    max-width: 900px;
    margin: 0 auto;


    font-size: 18px;
}

.somos-c {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.somos-c__texto {
    flex: 6 1 160px;

    letter-spacing: 4px;
}

.somos-c__texto2 {
    flex: 6 1 160px;
    ;

    word-spacing: normal;
    letter-spacing: 4px;
}

.somos-c__img {
    flex: 1 1 350px;
    padding: 0 10px;
}

/**********************************/
/* 5. Nossos cursos
/**********************************/
.bob{
    color: rgb(82, 150, 240);
}
.cursos {
    max-width: 960px;
    margin: 0 auto;
}

.cursos-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso {
    width: 280px;
    margin: 0 20px;
}

.curso__titulo {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0 5px 0;
}

/**********************************/
/* 6. Planos
/**********************************/

.planos {
    background: var(--clr-pink-light);
}

.planos-c {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.plano {
    width: 290px;
    margin: 10px 10px;
    border: 2px solid var(--clr-green-light);
}

.plano__titulo {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.plano__preco {
    font-size: 3em;
    display: block;
    text-align: center;
    font-weight: bold;
}

.plano__preco sup {
    position: relative;
    font-size: 1.5rem;
    top: -20px;
}

.plano__divisor {
    background: var(--clr-green-light);
    width: 20px;
    margin: 5px auto;
}

.plano-lista {
    max-width: 195px;
    margin: 0 auto;
}

.plano-lista__item {
    margin: 10px 0;
	font-style: italic;
    display: flex;
    align-items: center;
}



.plano-lista__item::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background: var(--clr-green-light);
}

.plano__btn-comprar {
    display: block;
    max-width: 180px;
    font-size: 2em;
    font-weight: bold;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid var(--clr-green-light);
}

.plano:last-child {
    background: var(--clr-green-light);
}

.plano:last-child, .plano:last-child .plano__btn-comprar {
    border: 2px solid var(--clr-pink-dark);
}

.plano:last-child .plano-lista__item::before, .plano:last-child .plano__divisor{
    background: var(--clr-pink-dark);
}

@media (max-width: 800px) {
    .plano:nth-child(3) {
        order: -2
    }

    .plano:nth-child(2) {
        order: -1
    }
}

/**********************************/
/* 7. Vantagens
/**********************************/

.vantagens {
    max-width: 960px;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vantagem {
    max-width: 240px;
    margin: 10px;
}
.bb{
    color: rgba(57, 42, 197, 0.329);

}
.vantagem__titulo {
    font-size: 1.7em;
    margin-bottom: 5px;
    margin-left: 10px;
}

.vantagem__titulo::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 25px;
    margin-right: 5px;
}

.vantagem:nth-of-type(3n+1) .vantagem__titulo::before {
    background: var(--clr-green-light);
}

.vantagem:nth-of-type(3n+2) .vantagem__titulo::before {
    background: var(--clr-pink-dark);
}

.vantagem:nth-of-type(3n+3) .vantagem__titulo::before {
    background: var(--clr-green-dark);
}

@media (max-width: 800px) {
    .vantagem {
        max-width: 220px;
    }
}

/**********************************/
/* 8. Newsletter
/**********************************/

.newsletter {
    background: var(--clr-green-light);
}

.newsletter-c {
    max-width: 960px;
    margin: 0 auto;
	padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    height: 10px;
}

.cabecalho-menu-item2 {
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-weight: 400;
    font-size: 24px;

    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;

    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;

  }

.newsletter-info {
	flex: 1 1 260px;
    padding-left: 10px;
}

.newsletter-info__titulo {
    font-size: 2.62em;
    font-weight: bold;
}

.newsletter-info__descricao {
    font-style: italic;
}

.newsletter-form {
	flex: 2 1 260px;
    display: flex;
	flex-wrap: wrap;
}

.newsletter-form__input {
	flex: 3 1 260px;
    font-size: 1.25em;
    width: 325px;
    color: black;
    font-style: italic;
    font-family: var(--ff-primary);
    border: 10px solid var(--clr-pink-dark);
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
}

.newsletter-form__submit {
	flex: 1 1 260px;
    width: 192px;
    font-family: var(--ff-primary);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--clr-pink-dark);
    color: black;
    cursor: pointer;
    border: 0px;
    padding: 15px;
}

/**********************************/
/* 9. Footer
/**********************************/

.footer {
    background: var(--clr-pink-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px calc((100% - 960px) / 2);
}

.footer__copyright, .footer__logo {
    padding: 0px 10px;
}

