body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    text-align: center;
    font-family: "roboto", monospace;
    height: 100vh;
    transition: ease-in-out 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
}
::selection {
    background-color: var(--color-main);
    color: var(--color-main-hover);
}
input {
    caret-color: var(--color-fg);
    color: var(--color-fg);
}
a{
    text-decoration: none;
    font-weight: 700;
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    overflow:visible;
    margin-top: 6rem;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 5rem 0 0 5rem ;
    z-index: 0;
    overflow: visible;
}

