#bookPage {
    color: var(--color-fg);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    margin: 20px;
    width: 90%;
    height: 100vh;
}
#bookPage img{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    align-self: center;
}
#informacoes{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    background-color: var(--color-card);
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#informacoes h1{
    text-align: center;
    width: 100%;
}
#informacoes h3{
    font-weight: 300;
}
#informacoes span, #informacoes p{
    font-weight: 600;
}
#informacoes #descricao{
    margin-top: 0;
}
#bookMainContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#bookEdit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--color-card);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#bookEdit button{
    border-radius: 10px;
    height: 3.5rem;
    width: 15rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    align-items: center;
    text-align:center;
    justify-content: space-around;
    display: flex;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: ease .5s;
    font-weight: 900;
}
#bookEdit button i{
    font-size: 1.5rem;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#excluirLivro{
    border: 3px solid #f52222;
    background-color: transparent;
    color: #f52222;
}
#excluirLivro:hover{
    background-color: #ce2f2f;
    color: var(--color-fg);
}
#editarLivro{
    color: var(--color-fg);
    border: none;
    background-color: var(--color-main);
}
#editarLivro:hover{
    background-color: var(--color-main-hover);
}

@media (max-width: 600px) {

    #bookPage{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        overflow: hidden;
        align-items: center;
    }
    #bookMainContainer{
        width: 80%;
        margin: 2rem;
        padding: 2rem;
    }
    #bookPage img {
        opacity: calc(70%);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: -1;
    }

    #informacoes {
        opacity: calc(95%);
        display: block;
        width: 100%;
        margin-top: 7rem;
    }

    #bookEdit {
        opacity: calc(95%);
        display: flex;
        width: 100%;
        height: auto;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    #bookEdit a button {
        width: 100%;
        height: 100%;
    }
    #bookEdit a {
        width: 50%;
        height: 3rem;
        margin: 0 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
