#config {
    color: var(--color-fg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    padding: 12px;
    margin: 10px 0 0 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.choiceTheme {
    width: 15rem;
    height: 10rem;
    border: 3px solid var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
}
.choiceTheme h5 {
    padding: 1.8rem;
    color: #fff;
}
.configConainerRow {
    display: flex;
    flex-direction: row;
}
.configConainerRow button {
    margin-right: 30px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 10rem;
    color: var(--color-fg);
    font-weight: 700;
}
#autoTheme {
    flex-direction: row;
    background: linear-gradient(to right, #0e1120 50%, #f6f6f6 50%);
}
#autoTheme h5 {
    background: linear-gradient(to right, #fff 50%, #2d3242 50%);
}
#saveConfig {
    background-color: var(--color-main);
    width: 15rem;
}
#saveConfig:hover {
    background-color: var(--color-main-hover);
}
#cancelConfig {
    background-color: var(--color-bg);
    border: 3px solid var(--color-main);
}
#cancelConfig:hover {
    border-color: var(--color-main-hover);
}
#configNavBtn {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 4rem;
}
@media (max-width: 600px) {
    #config {
        width: 90%;
        align-self: flex-start;
        justify-self: left;
        margin: 6px 0 0 10px;
        height: 100%;
        overflow-x: hidden;
    }
    .configConainerRow {
        overflow-x: auto;
        width: 100%;
        padding-bottom: 1.3rem;
    }

    .choiceTheme {
        width: 7rem;
        height: 6rem;
        padding: 3px;
    }
    .choiceTheme h5 {
        padding: 0 10px 0 10px;
        color: #fff;
    }
    #configNavBtn {
        width: 100%;
        margin: 1rem;
        margin: 0;
        align-items: center;
        justify-content: center;
        align-self: center;
        overflow: hidden;
        text-align: center;
    }
    #saveConfig {
        width: 50%;
    }
    #cancelConfig {
        width: 25%;
    }
    .configConainerRow button {
        width: 50%;
    }
}
