#ladinPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 100vh;
    margin: 10px 20px 0 100px;
    padding: 0;
    overflow: auto;
}

#ladinContainer {
    height: 100%;
    margin-bottom: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
#ladinContainer img {
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: calc(60%);
}
#div_2 {
    background-color: var(--color-card);
    border-radius: 8px;
    padding: 40px;
    width: 35%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 1.5rem;
}

#div_2 h3 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}

#div_3 {
    background-color: var(--color-card);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
    width: 35%;
    height: 20%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#div_3 h4 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}

#div_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-top: 10px;
}
#div_1 a {
    background-color: var(--color-btn);
    border-radius: 6px;
    height: auto;
    color: #fff;
    width: 8rem;
    padding: 15px;
}

#bts {
    width: 22rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#div_1 a:hover {
    background-color: var(--color-btn-hover);
}
#div_1 h1 {
    margin-left: 75px;
    font-size: 2.4rem;
    font-weight: 900;
}

@media (max-width: 600px){

#div_1 h1 {
    font-size: 1.2rem;
    font-weight: 900;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 45px;
    margin-left: 90px;
}

#bts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    width: 266px;
    height: 80px;
    margin-left: 6px;
}

#bts a {
    margin-right: 20px;
    font-size: 11px;
}

#div_2 {
    height: 80%;
    width: 60%;
    display: inline;
    margin-top: 0px;
    text-align: center;
    margin-left: 4px;
}

#div_2 h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

#div_2 h3 {
    font-size: 1.1rem;
    margin-top: 20px;
    display: flex;
    text-align: center;
}

#div_3 {
    height: 40%;
    width: 60%;
    margin: 0;
    margin-left: 4px;
}

#div_3 h4 {
    font-size: 1.1rem;
    display: flex;
    text-align: center;
    margin: 0;
}


#ladinPage {
    height: 750px;
}

#ladinContainer img {
    display: none;
}
}
