#ladinPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 20px 0 100px;
    padding: 0;
    overflow: auto;
}

#ladinContainer {
    height: 100%;
    margin-bottom: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
#ladinContainer img {
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: calc(60%);
}
#div_2 {
    background-color: var(--color-card);
    border-radius: 8px;
    padding: 40px;
    width: 35%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 1.5rem;
}

#div_2 h3 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}

#div_3 {
    background-color: var(--color-card);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
    width: 35%;
    height: 20%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#div_3 h4 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}

#div_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-top: 10px;
}
#div_1 a {
    background-color: var(--color-btn);
    border-radius: 6px;
    height: auto;
    color: #fff;
    width: 8rem;
    padding: 15px;
}

#bts {
    width: 22rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#div_1 a:hover {
    background-color: var(--color-btn-hover);
}
#div_1 h1 {
    margin-left: 75px;
    font-size: 2.4rem;
    font-weight: 900;
}

@media (max-width: 600px){
    #ladinPage {
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
    }
    #div_1{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #div_1 h1 {
        font-size: calc(1.6rem - 0.5vw);
        font-weight: 900;
        margin: 0;
    }
    #bts {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 20px;
        width: 100%;
        height: 80px;
    }
    #bts a {
        margin: 0 10px 0 10px;
        font-size: 13px;
    }

    #ladinContainer {
        width: 100%;
        margin: 0;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
    }

    #div_2, #div_3{
        width: 60%;
        height: auto;
    }

    #div_2 {
        margin-top: 5rem;
    }

    #div_2 h2 {
        font-size: 1.5rem;
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }

    #div_2 h3 {
        font-size: 1.1rem;
        margin-top: 20px;
        display: flex;
        text-align: center;
    }

    #div_3 {
        height: 8rem;
    }

    #div_3 h4 {
        font-size: 1.1rem;
        display: flex;
        text-align: center;
        margin: 0;
    }

    #ladinContainer img {
        display: none;
    }
}
