div{
    background-color: var(--color-card);
    width: 30rem;
    height: 20rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-fg);
    transition: ease-in-out 0.2s;

}
i{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--color-main);
    font-weight: 700;
    transition: ease-in-out 0.2s;

}
i:hover{
    color: var(--color-main-hover);
}
