{% extends "base.html" %}
 {% block title %}
 Book Page
{% endblock title %}

{% block content %}
<div id="bookPage">
    <img src="{{ bookguardian.book_image.url }}" alt="capa">
    <div id="bookMainContainer">
        <div id="informacoes">
            <h1 id="titulo">{{ bookguardian.title }}</h1>
            <h3>Por: <span id="autor">{{ bookguardian.author_book }}</span></h3>
            <h3>Descrição:</h3>
            <p id="descricao">{{ bookguardian.description }}</p>
            <h3>Status: {% if bookguardian.read %}<span id="status" class="read" style="font-weight: 800;">Ja li </span>{% else %}<span id="status" class="nonRead">Nao li</span>{% endif %}</h3>
            <h3>Gênero: <span>
                {% if bookguardian.category == 'G' %}
                    Genérico
                {% elif bookguardian.category == 'F' %}
                    Ficção
                {% elif bookguardian.category == 'R' %}
                    Romance
                {% elif bookguardian.category == 'T' %}
                    Terror
                {% elif bookguardian.category == 'FA' %}
                    Fantasia
                {% elif bookguardian.category == 'NF' %}
                    Não ficção
                {% elif bookguardian.category == 'MHQ' %}
                    Manga e HQ
                {% else %}
                    Desconhecido
                {% endif %}
            </span></h3>

        </div>
        <div id="bookEdit">
            <a href=" {% url "bookguardian:bookupdate"  pk=bookguardian.pk %} ">
                <button id="editarLivro">editar <i class="fi
                fi-rr-edit"></i></button>
            </a>
            <a href="{% url "bookguardian:bookdelete" pk=bookguardian.pk %}">
                <button id="excluirLivro">excluir <i class="fi
                fi-rr-trash"></i></button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
