{% extends 'base.html' %} {% block content %}

<div class="card-body" id="deleteContainer">
    <form method="POST">
        {% csrf_token %}
        <h1>
            Deseja realmente apagar o livro: <b>{{ bookguardian.title }}</b> ?
        </h1>
        <div class="header-bar" id="btnNavDelete">
            <a class="deletBtn" id="cancel" href="{% url 'bookguardian:index' %}">&#8592; Voltar</a>
            <button class="deletBtn" id="delete" type="submit" value="Delete">Apagar</button>
        </div>
    </form>
</div>

{% endblock content %}
