{% extends "base.html" %}
{% block title %}  Pagina Inicial {% endblock title %}

{% block content %}
<header>
            <div id="mainHeader">
                <h1>Book Guardian</h1>
                <div id="searchDiv">
                    <input
                        type="text"
                        name="search"
                        id="search"
                        placeholder="Pesquisar Livro"
                    />
                    <i class="fi fi-rr-search" title="Pesquisar"></i>
                </div>
                <h6>
                    <i
                        id="profileBtn"
                        class="fi fi-rr-circle-user"
                        title="Perfil"
                    ></i>
                    <div id="profileMenuHeader">
                        <button id="goToLoginPage">Entrar</button>
                    </div>
                </h6>
            </div>
            <div id="filter">
                <div>
                    <label for="genre">Gênero:</label>
                    <select id="genre">
                        <option value="">Todos os Gêneros</option>
                        <option value="ficcao">Ficção</option>
                        <option value="romance">Romance</option>
                        <option value="terror">Terror</option>
                    </select>
                </div>
                <div>
                    <label for="read">Já leu?</label>
                    <input type="checkbox" id="read" name="read" />
                </div>
                <button type="submit">Aplicar Filtros</button>
            </div>
        </header>
        <main>
            <nav>
                <i id="addBookbtn" class="fi fi-sr-add" title="Adicionar"></i>
                <i id="homeBtn" class="fi fi-sr-home" title="Inicio"></i>
                <i id="filterBtn" class="fi fi-sr-filter" title="Filtros"></i>
                <i id="configBtn" class="fi fi-sr-settings" title="Configuracoes"></i>
            </nav>
            <section>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/51jMfnBsk+L.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">A lista de convidados</p>
                        <p id="autora">Lucy Foley</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark nonRead"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/51Bcp998vTL.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">20 mil leguas submarinas</p>
                        <p id="autora">Julio Verne</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark nonRead"></i>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgpAoylnIjSt_ttqFYB7hubSIRqTRP2JGkwttzS7lB8g&s"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">Arsène Lupin, o ladrão de casaca</p>
                        <p id="autora">Maurice Leblanc</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark nonRead"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/61HtBosDhwL._AC_UF1000,1000_QL80_.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">1984</p>
                        <p id="autora">George Orwell</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9fuoqY5OCC-mSED_0f153ulknuqyF5JbfRz2HiRSZmQ&s"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">Harry Potter e a Câmara Secreta</p>
                        <p id="autora">J.K. Rowling</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWjr62wMTLlIvOCCMc-W5RAd0xs7BsbRZCpgzfgJLZjw&s"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">The Flash Vol. 4: Reverse</p>
                        <p id="autora">sla</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoVRSuj3T5w1kqBj0cChxMcvjL4nykTln7Gr5HgTPtGw&s"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">Jujutsu Kaisen, Vol. 1</p>
                        <p id="autora">Gege Akutame</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/81SzC8QkydL._AC_UF1000,1000_QL80_.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">A Guerra dos Tronos HQ - volume III</p>
                        <p id="autora">nao sei</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://www.intrinseca.com.br/alinha/img/destrua_vermelho_grande.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">Destrua este diário</p>
                        <p id="autora">Keri Smith</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark nonRead"></i>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEmkTPqSdDjKuKeBFLB6pqhZnGebHS-8gxnX3VPxq6Ig&s"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">Dois Mundos, Um Herói: Uma Aventura não Oficial de Minecraft</p>
                        <p id="autora">Rezende Evel</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark nonRead"></i>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR_diHlTzB0Q0QeVRnY71rndCehDmWw-y5W2y5GT-JPA&s"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">Ataque dos Titãs Vol. 34</p>
                        <p id="autora">Hajime Isayama</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark nonRead"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/51jMfnBsk+L.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">A lista de convidados</p>
                        <p id="autora">Lucy Foley</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/51jMfnBsk+L.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">A lista de convidados</p>
                        <p id="autora">Lucy Foley</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <i class="fi fi-sr-bookmark read"></i>
                    <img
                        src="https://m.media-amazon.com/images/I/51jMfnBsk+L.jpg"
                        alt="capa"
                    />
                    <div class="backCard">
                        <p id="title">A lista de convidados</p>
                        <p id="autora">Lucy Foley</p>
                    </div>
                </a>
            </section>
        </main>
{% endblock content %}
