{% extends "base.html" %}
 {% block title %} Pagina Inicial
 {% endblock title %}

{% block content %}
<header>
    <div id="mainHeader">
        <h1>Book Guardian</h1>
        <div id="searchDiv">
            <input
                type="text"
                name="search"
                id="search"
                placeholder="Pesquisar Livro"
            />
            <i class="fi fi-rr-search" title="Pesquisar"></i>
        </div>
        <h6>
            <i id="profileBtn" class="fi fi-rr-circle-user" title="Perfil"></i>
            <div id="profileMenuHeader">
                {% if not request.user.is_authenticated %}

                <a href="{% url 'bookguardian:login' %}">
                    <button id="goToLoginPage">Entrar</button>
                </a>

                <a href="{% url 'bookguardian:register-user' %}">
                    <button id="goToRegisterPage">Cadastrar</button>
                </a>

                {% endif %}

                {% if request.user.is_authenticated %}

                <a href="{% url 'bookguardian:logout' %}">
                    <i class="fi fi-rr-exit" id="s"> Sair</i>
                </a>

                {% endif %}


            </div>

        </h6>
    </div>
    <div id="filter">
        <div>
            <label for="genre">Gênero:</label>
            <select id="genre">
                <option value="">Generico</option>
                <option value="fiction">Ficcao Cientifica</option>
                <option value="romance">Romance</option>
                <option value="horror">Terror</option>
                <option value="nonFiction">Nao ficcao</option>
                <option value="fantasy">Fantasia</option>
                <option value="mangaAndComic">Manga e HQ</option>
            </select>
        </div>
        <div>
            <label for="read">Já leu?</label>
            <input type="checkbox" id="read" name="read" />
        </div>
        <button type="submit">Aplicar Filtros</button>
    </div>
</header>
<main>
    <nav>
        <i id="addBookbtn" class="fi fi-sr-add" title="Adicionar"></i>
        <i id="homeBtn" class="fi fi-sr-home" title="Inicio"></i>
        <i id="filterBtn" class="fi fi-sr-filter" title="Filtros"></i>
        <i id="configBtn" class="fi fi-sr-settings" title="Configuracoes"></i>
    </nav>
    <section>
        {% if request.user.is_authenticated %}

        {% for book in bookguardian %}


            <a href="#" class="card">
                <i class="fi fi-sr-bookmark read"></i>
                <img
                    src="{{ book.book_image.url }}"
                    alt="capa"
                />
                <div class="backCard">
                    <p id="title">{{ book.title }}</p>
                    <p id="autora">{{ book.author_book }}</p>
                </div>
            </a>
        {% endfor %}

      {% endif %}
    </section>


</main>
{% endblock content %}
