{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <div class="menu">
        <div class="menu__logo">
            <img class="cabecalho-imagem" src="{% static "assets/img/book2.png" %}">
        </div>
        <nav class="nav__list" id="xd">
            <a href="{% url 'userauths:sign-in' %}" class="cabecalho-menu-item2">entrar</a>
            <a href="{% url 'userauths:sign-up' %}" class="cabecalho-menu-item2">cadastrar</a>
        </nav>
    </div>
    <img id="banner" src="{% static "assets/img/Home.png" %}" alt="Home">
</header>

<section id="oque-e" class="somos">
    <h2 class="section__titulo">O que é?</h2>
    <div class="somos-c">
        <div class="somos-c__texto">
            <p class="somos-c__texto2">
                O Bookguardian é um site projetado especificamente para ajudar pessoas como você a organizar suas coleções de livros.
            </p>
            <br>
            <p>Com uma interface intuitiva e recursos inteligentes, ele
            simplifica o gerenciamento do conteúdo de sua biblioteca, tornando a
            experiência de catalogar e encontrar seus livros mais facil.</p>
        </div>
        <div class="somos-c__img">
            <img src="{% static "assets/img/somos.png" %}" alt="Quem somos">
        </div>
    </div>
</section>

<section id="conta-demo" class="cursos">
    <h2 class="section__titulo">Confira Uma Demontração</h2>
    <div class="cursos-c">
        <div class="curso">
            <img src="{% static "assets/img/004--Streamline-Zoo-Office.png" %}"
            alt="Inteligência Artificial" class="curso__img">
            <div class="demo">
                <h3 class="curso__titulo">Email: <span>demoUser@gmail.com</span></h3>
                <h3 class="curso__titulo">Senha: <span>demoUser</span></h3>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-c">
        <div class="membros">
            <h3>Equipe</h3>
            <ul>
                <li><a href="https://github.com/Andra-sun/">Camile</a></li>
                <li><a href="https://github.com/wendellast">Wendel</a></li>
                <li><a href="https://github.com/nadox00">Fernando</a></li>
                <li><a href="https://github.com/VilasBoass">Marcos</a></li>
                <li><a href="https://github.com/LuyysHenriqueKuromi">Luis</a></li>
            </ul>
        </div>
        <div class="membros">
            <h3>linguagens</h3>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
                <li>Html5</li>
                <li>CSS</li>
            </ul>
        </div>
        <div class="membros">
            <h3>Navegação</h3>
            <ul>
                <li><a href="#banner">Capa</a></li>
                <li><a href="#oque-e">O que é?</a></li>
                <li><a href="#conta-demo">Conta demo</a></li>
                <li><a href="{% url 'userauths:sign-in' %}">Login</a></li>
                <li><a href="{% url 'userauths:sign-up' %}"></a></li>
            </ul>
        </div>
    </div>
    <p>Abril 2024</p>
</footer>

{% endblock content %}
