{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="ladinPage" style="color: var(--color-fg);">
    <div id="div_1">
        <h1>
            PROJETO BOOK GUARDIAN
        </h1>
        <div id="bts">
            <a href="{% url 'bookguardian:login' %}">LOGIN</a>
            <a href="{% url 'bookguardian:register-user' %}">CADASTRO</a>
        </div>
    </div>
    <div id="ladinContainer">
        <img src="{% static "assets/img/Capturar.png" %}" alt="">
        <div id="div_2">
            <h2>
            O que é ?
                <h3>O Book Guardian é um site open source com a finalidade de uma biblioteca virtual onde o usuário possa armazanear seus livros, mangás e HQs, editando-os de forma que lhes permite ver quais de seus livros já foram lidos, remove-los, ver suas descrições e muito mais!!</h3>
            </h2>
        </div>
        <div id="div_3">
            <h4>Esse projeto foi desenvolvido por alunos da faculdade UNIFG de Guanambi-BA, nele foi utilizado as linguagens: HTML, CSS, JavaScript, Python e seu framework Django.</h4>
        </div>
    </div>

</div>

{% endblock content %}
