{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}
<div class="login-container show" id="singincontainer">
    <h2>Cadastro</h2>
    <form method="POST" action="{% url 'userauths:sign-up' %}">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        <div id="passwordStatus">
            X Mínimo de 8 letras
        </div>
        {{ form.password2 }}
        <div class="error-messages">
            {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <input class="button" type="submit" value="Registrar" id="registerBtnSubimit">
    </form>
    <a id="googleIcon" href="{% provider_login_url "google" %}?next=/index"><img id="google" src="{% static "assets/img/google.png" %}"></a>
    <p>Já possui uma conta? <a href="{% url 'userauths:sign-in' %}" id="logIn" class="signup-link">Entre aqui</a></p>
</div>
<script>
    const passwordAlert = document.getElementById("passwordStatus");
    const passwordInput = document.getElementById("id_password1");

    passwordInput.addEventListener("input", function() {
        const passwordValue = passwordInput.value;
        passwordAlert.style.display = "flex";
        passwordAlert.style.animation = "slideDown 10s ease forwards";

        if (passwordValue.length < 8) {
            passwordAlert.innerHTML = "X Mínimo de 8 letras";
            passwordAlert.style.backgroundColor = "#ff41419f";
        } else {
            passwordAlert.innerHTML = "✓ Mínimo de 8 letras";
            passwordAlert.style.backgroundColor = "#57ff419f";
        }
    });

    passwordInput.addEventListener("blur", function() {
        passwordAlert.style.display = "none";
        passwordAlert.style.animation = "slideUp 10s ease forwards";
    });
</script>
{% endblock content %}
