{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block content %}

<div class ="login-container show" id="logincontainer" >
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Digite o seu email" required>
        <br>
        <input type="password" name="password" placeholder="Senha" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <a href="{% provider_login_url "google" %}?next=/"><img id="google" src="{% static "assets/img/google.png" %}"></a>
    <p>Não possui uma conta ? <a href="{% url 'userauths:sign-up' %}" id="singIn" class="signup-link">Registre-se aqui</a></p>
    <p>Esqueceu a senha ? </p>
</div>

{% endblock content %}


